body {
    margin-top: 20px;
    background: #eee;
  }
  
  .up-pro {
    background-color: rgb(77, 156, 85);
    border: none;
    padding: 12px;
    border-radius: 8%;
    color: white;
    box-shadow: 5px #eee;
  }
  
  .Proj {
    background-color: rgb(235, 231, 231);
    margin: 20px 40px;
    border-radius: 5px;
    width: 700px;
  
  }
  
  .Proj li {
    /* border: 1px solid rgb(175, 172, 172); */
    margin: 10px;
    padding: 40px 50px 40px 40px;
  }
  
  .timeline-content-pro {
    font-size: 22px;
    margin-left: 10px;
    padding-bottom: 10px;
  }
  
  /* .timeline-footer-foot {
    background-color: #fff;
  } */
  
  .timeline-footer-foot button {
    font-size: large;
    margin-left: 25px;
    background-color: transparent;
    margin-bottom: 0;
  
  }
  
  /* .timeline-body-pro{
    
   }
   .main{
    width: auto;
   } */
  .dropdown-bt {
    background-color: transparent;
  }
  
  .timeline-likes a {
    margin-left: 22px;
    font-Size: "40px";
    color: rgb(56, 56, 190);
  }